body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    --yellow-color: #fde047;
    --purple-color: #6b21a8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}

.dashboard-container {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 3rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--purple-color);
    padding: 0 1rem;
    color: white;
}

.dashboard-header {
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    align-items: center;
    margin: 1rem 1rem 0 0;
}

.dashboard-container .dashboard-header img {
    height: 2.5rem;
}


.dashboard-container img {
    height: 1.5rem;
}

.dashboard-menu li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    font-size: 1.3rem;
}

.dashboard-settings li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.dashboard-header img,
.dashboard-menu li img,
.dashboard-settings li img {
    justify-self: center;
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.main-top {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 3rem;
    background-color: var(--yellow-color);
}

.main-top button {
    width: 6rem;
    height: 2.2rem;
    text-align: center;
    margin: 0 1rem -0.2rem 0;
    border-radius: 2rem;
    border: var(--bck-color);
    background-color: var(--purple-color);
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.main-top button:nth-child(3) {
    margin-right: 0;
}

.main-top-first {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}


.main-top-second {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}


.main-top-second-left {
    justify-self: left;
    display: flex;
    align-items: center;
}

.main-top-second-right {
    justify-self: right;
    display: flex;
    align-items: center;
}

.main-top-second-left span {
    display: inline-block;
}

.main-top-second-left img {
    width: 3.5rem;
    height: auto;
    margin-right: 1.5rem;
    border-radius: 2rem;
}

.main-top-second p {
    margin: 0;
}

.main-top-second .second-line {
    margin-top: 0.2rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.main-top-first-left {
    justify-self: left;
    display: flex;
    align-items: center;
}

.main-top-first-left img {
    margin-right: 1.5rem;
}

.main-top-first-left input {
    border-radius: 1.5rem;
    height: 1.5rem;
    background-color: #e3e3e3;
    border: #e3e3e3;
    font-size: 1rem;
}

.main-top-first-right {
    justify-self: right;
    display: flex;
    align-items: center;
}

.main-top-first img {
    height: 1.5rem;
}

.main-top-first-right img:nth-child(2) {
    margin: 0 2.5rem;
    width: 2.5rem;
    height: auto;
    border-radius: 2rem;
}

.main-top-first-right span {
    font-weight: 600;
}

.main-bottom {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2rem 3rem;
}

.projects-container {
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.updates-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #f5f5f5;
    row-gap: 30px;
}

.announcements {
    display: grid;
    grid-template-rows: 30px 1fr;
}

.trendings {
    display: grid;
    grid-template-rows: 30px 1fr;
}

.projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    margin: 8px;
    margin-left: 0px;
    border-left: 10px solid var(--yellow-color);
    border-radius: 12px;
}

.announcements-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem;
    background-color: var(--yellow-color);
    border-radius: 12px;
    margin-left: 1rem;
}

.announcements-title {
    padding: 0 1rem;
}

.announcement {
    margin: 8px 2px;
    border-radius: 12px;
}

.trendings-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    background-color: var(--yellow-color);
    border-radius: 12px;
    margin-bottom: 8px;
    margin-left: 1rem;
}

.trendings-title {
    padding: 0 1rem;
}

.trending {
    margin: 2px;
    margin-bottom: 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projects-title,
.announcements-title,
.trendings-title {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #333333;
    font-size: 1.2rem;
    font-weight: 700;
}

.project {
    display: grid;
    grid-template-rows: 4fr 1fr;
    background-color: var(--yellow-color);
}

.project img {
    height: 1.5rem;
}

.project-info {
    padding: 2rem;
    color: white;
    background-color: var(--purple-color);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.project-name {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.project-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding-right: 2rem;
    background-color: var(--yellow-color);
    border-bottom-right-radius: 12px;
}

.announcement-name {
    font-size: 0.8rem;
    font-weight: 600;
}

.announcement-content {
    font-size: 0.75rem;
}

.announcement-w-bottom-border {
    border-bottom: 1px solid grey;
    border-radius: 0;
}


.trending img {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border-radius: 2rem;
}

.trending p {
    margin: 0;
    pad: 0;
}